{
  "bracketSpacing": false,
  "printWidth": 80,
  "semi": false,
  "singleQuote": true,
  "pluginSearchDirs": ["."],
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [{"files": "*.svelte", "options": {"parser": "svelte"}}]
}
